<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>user list</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active">Simple Tables</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Users</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">

            <p-dataTable loadingIcon="fa fa-spinner" [value]="users" [loading]="loading">
             
              <p-column field="FirstName" header="FirstName"></p-column>
              <p-column field="LastName" header="LastName"></p-column>
              <p-column field="Email" header="Email"></p-column>
              <p-column field="SgId" header="SgId"></p-column>

              <p-column  header="roles">
                <ng-template let-user="rowData" pTemplate="body">
                <div *ngFor="let role of user.Roles">
                  {{role}}
                </div>  
                </ng-template>
              </p-column>
              <p-column  header="BU">
                  <ng-template let-user="rowData" pTemplate="body">
                  <div *ngFor="let bu of user.BusinessUnits">
                    {{bu.Name}}
                  </div>  
                  </ng-template>
                </p-column>
              <p-column header="CreatedDate">
                <ng-template let-user="rowData" pTemplate="body">{{user.CreatedDate | date}}</ng-template>
              </p-column>
              <p-column>
                <ng-template let-user="rowData" pTemplate="body">
                  <a (click)="editUser(user.SgId)" class="btn ">
                    <i class="fa fa-pencil-square-o text-success"></i>
                  </a>
                  <a (click)="deleteUser(user)" class="btn">
                    <i class="fa fa-trash-o text-danger"></i>
                  </a>
                  <a (click)="deleteUserSwal(user)" class="btn">
                      <i class="fa fa-trash-o text-danger"></i>
                    </a>
                </ng-template>
              </p-column>
            </p-dataTable>
           
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <button class="btn btn-primary float-sm-right" routerLink="/sign-up">Add new user</button>
          </div>
        </div>

        <!-- /.card -->
      </div>
    </div>
  </div>
</section>