<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="\" class="brand-link">
    <img src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/0014/0528/brand.gif?itok=Qod7yOBO" alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">
      <b>TCM</b>
    </span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar font-weight-light">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img [src]="user | getUserAvatarSrc" class="img-circle elevation-4" alt="User Image">
      </div> 
      <div class="info">
        <a routerLink="\" class="d-block"><h5>{{user.FirstName}} {{user.LastName}}</h5></a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <!-- <li *ngIf="_userService.roleMatch(['Administrator'])" class="nav-item has-treeview menu-open"> -->
       
                <li  class="nav-item has-treeview menu-open">
                  <a  class="nav-link " [ngClass]="{'active': suppliercreation.isActive || (customercreation.isActive) }">
                    <i class="nav-icon fa fa-edit"></i>
                    <p>
                     Request Creation
                      <i class="fa fa-angle-left right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a routerLink="/suppliercreation" #suppliercreation="routerLinkActive" routerLinkActive="active" class="nav-link">
                        <i class="fa fa-user-o nav-icon"></i>
                        <p>Supplier Creation</p>
                      </a>
                    </li>  
                    <li class="nav-item">
                        <a routerLink="/customercreation" #customercreation="routerLinkActive" routerLinkActive="active" class="nav-link">
                          <i class="fa fa-user-o nav-icon"></i>
                          <p>Customer Creation</p>
                        </a>
                      </li>            
                  </ul>
                </li>
                <li *ngIf="_userService.roleMatch(['Administrator'])" class="nav-item has-treeview menu-open">
                  <a  class="nav-link success" [ngClass]="{'active': validationRules.isActive || (templateManagement.isActive) }">
                    <i class="nav-icon fa fa-edit"></i>
                    <p>
                     Administration
                      <i class="fa fa-angle-left right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a routerLink="/validationrules" #validationRules="routerLinkActive" routerLinkActive="active" class="nav-link">
                        <i class="fa fa-user-o nav-icon"></i>
                        <p>Validation Rules</p>
                      </a>
                    </li>  
                    <li class="nav-item">
                        <a routerLink="/templatemanagement" #templateManagement="routerLinkActive" routerLinkActive="active" class="nav-link">
                          <i class="fa fa-user-o nav-icon"></i>
                          <p>Template Management</p>
                        </a>
                      </li>            
                  </ul>
                </li>
                <li *ngIf="user.IsSuperAdmin" class="nav-item has-treeview menu-open">
          <a  class="nav-link" routerLinkActive="active" [ngClass]="{'active': usersActive.isActive || (createUserActive.isActive) }">
            <i class="nav-icon fa fa-edit"></i>
            <p>
              User Management  
              <i class="fa fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/users" routerLinkActive="active" #usersActive="routerLinkActive" class="nav-link">
                <i class="fa fa-user-o nav-icon"></i>
                <p>User List</p>
              </a>
            </li>
            <li  class="nav-item">
              <a routerLink="/sign-up" #createUserActive="routerLinkActive" routerLinkActive="active" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Create User</p>
              </a>
            </li>
          </ul>
        </li>

       


      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>