<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>General Form</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a routerLink="\">User Management</a>
          </li>
          <li class="breadcrumb-item active">User List</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">{{userSgid?'Edit': 'Add new'}} user</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
            <div class="card-body">
              <div class="form-group" [class.has-error]="SgId.touched && SgId.invalid">
                <label for="exampleInputPassword1">SgId</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                  <input [disabled]="editMode" UpperCaseText minlength="8" maxlength="8" type="text" name="SgId" #SgId="ngModel" [(ngModel)]="user.SgId"
                    required class="form-control" placeholder="SgId">
                  <div class="input-group-append">
                    <button type="button" [disabled]="editMode" (click)="sgIDChanged()" class="btn btn-primary">search</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1" data-error="required field">Email address</label>
                <input type="email" readonly="readonly" name="Email" #Email="ngModel" [(ngModel)]="user.Email" required class="form-control validate"
                  placeholder="Enter email">

              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">FirstName</label>
                <input type="text" readonly="readonly" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName" required class="form-control"
                  placeholder="FirstName">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">LastName</label>
                <input type="text" readonly="readonly" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName" required class="form-control"
                  placeholder="LastName">
              </div>

              <!-- <div class="form-group">
                <label>Role</label>
                <div *ngFor="let item of roles;let i=index">
                  <p-checkbox required name="Roles" #Roles="ngModel" value="{{item.Name}}" label="{{item.Name}}" [(ngModel)]="user.Roles" inputId="{{item.Id}}"></p-checkbox>
                </div>
              </div>

              <div class="form-group">
                <label>Business Unit</label>
                <div *ngFor="let item of businessUnits;let i=index">
                  <p-checkbox required name="BusinessUnits" #BusinessUnits="ngModel" value="{{item.Id}}" label="{{item.Name}}" [(ngModel)]="user.BusinessUnitsId"
                    inputId="{{item.Id}}"></p-checkbox>
                </div>
              </div> -->

              <div class="form-group">
                <label for="userRights">Authorizations</label>
                <p-dataTable #authorizations [value]="user.Authorizations" [rows]="10" [paginator]="true"    >
                  <p-column header="BU" field="BusinessUnit.Name" [filter]="true" filterPlaceholder="Search" [sortable]="true">
                  
                  </p-column>
                  <p-column field="Role.Name" header="ROLE" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
                  <p-column field="CompanyCode.Name" header="Company Code" [filter]="true" filterPlaceholder="Search" [sortable]="true">
                    <ng-template let-authorization="rowData" pTemplate="body">
                      {{authorization.CompanyCode?authorization.CompanyCode.Name:'All'}}
                    </ng-template>
                  </p-column>
                  <p-column field="ProcessType.label" header="Process Type" [filter]="true" filterPlaceholder="Search" [sortable]="true"></p-column>
                  <p-column>
                    <ng-template let-authorization="rowData" pTemplate="body">
                      <button pButton type="button" (click)="deleteAuthorization(authorization)" class="ui-button-danger" icon="fa-close"></button>
                    </ng-template>
                  </p-column>
                  <p-footer>
                    <div class="ui-helper-clearfix" style="width:100%">
                      <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
                    </div>
                  </p-footer>
                </p-dataTable>

                <p-dialog header="New Authorization" [(visible)]="displayDialog" showEffect="fade" [modal]="true">
                  <form #formAddUserAuthorization="ngForm">
                    <fieldset>
                      <div class="card-body row" *ngIf="authorization">
                        <div class="form-group col-md-2">
                          <label for="authRole">Role</label>
                          <div class="">
                            <p-dropdown appendTo="body" name="authRole" name="authRole" showClear="true" [style]="{'width':'150px'}" [(ngModel)]="authorization.Role"
                              [options]="roles" placeholder="Select a Role" inputId="Id" optionLabel="Name" [filter]="true"
                              required></p-dropdown>
                          </div>

                        </div>
                        <div class="form-group col-md-3">
                          <label for="authBusinessUnit">Business Unit</label>
                          <div class="">
                            <p-dropdown appendTo="body" [style]="{'width':'220px'}" name="authBusinessUnit" (onChange)="getComanies()"
                              [(ngModel)]="authorization.BusinessUnit" [options]="businessUnits" inputId="Id"
                              optionLabel="Name" [filter]="true"></p-dropdown>
                              {{authorization.BusinessUnit?.Id}}
                          </div>
                        </div>

                        <div class="form-group col-md-3">
                          <label for="authCompanyCode">Company Code</label>
                          <div class="">
                            <p-dropdown appendTo="body" [style]="{'width':'230px'}" name="authCompanyCode" [(ngModel)]="authorization.CompanyCode"
                             (onChange)="companyCodeChanged()"  [options]="companies"  inputId="Id" optionLabel="Name" [filter]="true"></p-dropdown>
                             {{authorization.CompanyCode?.Id}}
                          </div>
                        </div>
 
                        <div class="form-group col-md-4">
                          <label for="processType" class=" control-label">Proccess Type
                            <b class="text-danger" *ngIf="processType.touched && processType.invalid">*</b>
                          </label>
                          <div>
                            <p-selectButton name="processType" [options]="processTypes" #processType="ngModel" [(ngModel)]="authorization.ProcessTypeId"
                              [disabled]="!authorization.CompanyCode" required></p-selectButton>
                              {{authorization.ProcessTypeId}}
                            <span class="text-danger" *ngIf="processType.touched && processType.invalid">Process Type is required</span>
                          </div>
                        </div>

                      </div>
                    </fieldset>
                  </form>
                  <p-footer>
                    <div class=" ">
                      <button type="button" pButton icon="fa-close" (click)="this.displayDialog = false;" label="Cancel"></button>
                      <button type="button" [disabled]="!formAddUserAuthorization.valid" pButton icon="fa-check" (click)="addAuthorization()" label="Save"></button>
                    </div>
                  </p-footer>
                </p-dialog>
              </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button [disabled]="!userRegistrationForm.valid" type="submit" class="btn btn-success">{{editMode ?'Update': 'Submit'}}</button>
              <button routerLink='/users' class="btn btn-primary">Cancel</button>
            </div>
          </form>
        </div>
        <!-- /.card -->


      </div>
      <!--/.col (left) -->

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->