<form class="form-horizontal" #formValidationRules="ngForm">
<div class="card-body">
    <div class="row">
      <div *ngIf="withProcessType" class="form-group col-sm-12">
        <label for="processType" class="control-label">Proccess Type
          <b class="text-danger" *ngIf="processType.touched && processType.invalid">*</b>
        </label>
        <div>
          <p-selectButton name="processType" (onChange)="processTypeChanged()" [options]="processTypes" #processType="ngModel" [(ngModel)]="selectionCriteria.ProcessTypeId"
          [style]="{'min-width':'231px'}" required></p-selectButton>
          {{selectionCriteria.ProcessTypeId}}
          <span class="text-danger" *ngIf="processType.touched && processType.invalid">Process Type is required</span>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <label for="companyCode" class=" control-label">Company Code
          <b class="text-danger" *ngIf="companyCode.touched && companyCode.invalid">*</b>
        </label>
        <div>
          <p-dropdown appendTo="body" [options]="companies" (onChange)="validationRuleSelectionChanged()" #companyCode="ngModel" name="companyCode"
            [(ngModel)]="selectionCriteria.CompanyCode" filter="true" placeholder="Select Company" optionLabel="Name"
            [showClear]="true" [style]="{'min-width':'150px'}" required></p-dropdown>
          {{selectionCriteria?.CompanyCode?.Id}}
        </div>
      </div>
      <div class="form-group col-sm-12">
          <label for="" class=" control-label">Account Group</label>
          <div class=" ">
            <p-dropdown appendTo="body" [options]="accountGroups" (onChange)="validationRuleSelectionChanged()" #companyCode="ngModel"
              name="accountGroups" [(ngModel)]="selectionCriteria.AccountGroup" filter="true" placeholder="Select Account Group"
              optionLabel="Name" [showClear]="true" [style]="{'min-width':'150px'}" required></p-dropdown>
            {{selectionCriteria?.AccountGroup?.Id}}
          </div>
        </div>
    </div>
    <div class="row">
     
      <div *ngIf="withRequestType" class="form-group col-sm-12">
        <label for="requestType" class=" control-label">Request Type
          <b class="text-danger" *ngIf="requestType.touched && requestType.invalid">*</b>
        </label>
        <div>
          <p-selectButton name="requestType" [options]="requestTypes" (onChange)="validationRuleSelectionChanged()" #requestType="ngModel"
            [(ngModel)]="selectionCriteria.RequestTypeId" [style]="{'min-width':'253px'}" required></p-selectButton>
          {{selectionCriteria.RequestTypeId}}
          <span class="text-danger" *ngIf="requestType.touched && requestType.invalid">Request Type is required</span>
        </div>
      </div>
      <div class="form-group col-sm-12">
          <label for="organization" class=" control-label">{{selectionCriteria.ProcessTypeId==1 ? 'Purchasing':selectionCriteria.ProcessTypeId==2?'Sales':''}}  Organization
            <b class="text-danger" *ngIf="organization.touched && organization.invalid">*</b>
          </label>
          <div>
            <p-dropdown appendTo="body" [options]="organizations" (onChange)="validationRuleSelectionChanged()" #organization="ngModel" name="organization"
              [(ngModel)]="selectionCriteria.Organization" filter="true" placeholder="Select organization" optionLabel="Name"
              [showClear]="true" [style]="{'min-width':'150px'}" required></p-dropdown>
            {{selectionCriteria?.Organization?.Id}}
          </div>
        </div>
    </div>
  </div>
  </form>
