<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">
              Validation Rules Management
            </h3>
          </div>
          <form class="form-horizontal" #formValidationRules="ngForm">
            <div class="card-body">
              <div class="row">
                <div class="form-group col-sm-6">
                  <label for="processType" class=" control-label">Proccess Type
                    <b class="text-danger" *ngIf="processType.touched && processType.invalid">*</b>
                  </label>
                  <div>
                    <p-selectButton name="processType" (onChange)="processTypeChanged()" [options]="processTypes" #processType="ngModel" [(ngModel)]="validationRule.ProcessTypeId"
                      required></p-selectButton>
                    {{validationRule.ProcessTypeId}}
                    <span class="text-danger" *ngIf="processType.touched && processType.invalid">Process Type is required</span>
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label for="companyCode" class=" control-label">Company Code
                    <b class="text-danger" *ngIf="companyCode.touched && companyCode.invalid">*</b>
                  </label>
                  <div>
                    <p-dropdown appendTo="body" [options]="companies" (onChange)="validationRuleSelectionChanged()" #companyCode="ngModel" name="companyCode"
                      [(ngModel)]="validationRule.CompanyCode" filter="true" placeholder="Select Company" optionLabel="Name"
                      [showClear]="true" required></p-dropdown>
                    {{validationRule?.CompanyCode?.Id}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label for="" class=" control-label">Account Group</label>
                  <div class=" ">
                    <p-dropdown appendTo="body" [options]="accountGroups" (onChange)="validationRuleSelectionChanged()" #companyCode="ngModel"
                      name="accountGroups" [(ngModel)]="validationRule.AccountGroup" filter="true" placeholder="Select Account Group"
                      optionLabel="Name" [showClear]="true" required></p-dropdown>
                    {{validationRule?.AccountGroup?.Id}}
                  </div>
                </div>
                <div class="form-group col-sm-6">
                  <label for="requestType" class=" control-label">Request Type
                    <b class="text-danger" *ngIf="requestType.touched && requestType.invalid">*</b>
                  </label>
                  <div>
                    <p-selectButton name="requestType" [options]="requestTypes" (onChange)="validationRuleSelectionChanged()" #requestType="ngModel"
                      [(ngModel)]="validationRule.RequestTypeId" required></p-selectButton>
                    {{validationRule.RequestTypeId}}
                    <span class="text-danger" *ngIf="requestType.touched && requestType.invalid">Request Type is required</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button (click)="getValidationRuleUserRoles()" [disabled]="!formValidationRules.valid" type="submit" class="btn btn-info">View</button>
              <button *ngIf="validationRule?.ValidationRuleUserRoles==null" (click)="showValidationRuleDialog()" type="submit" class="btn btn-success float-right">Add New</button>
              <button *ngIf="validationRule?.ValidationRuleUserRoles?.length" (click)="showValidationRuleDialog(true)" type="submit" class="btn btn-success float-right ml-1">Edit</button>
              <button *ngIf="validationRule?.ValidationRuleUserRoles?.length" (click)="deleteValidationRuleDialog()" type="submit" class="btn btn-danger float-right">Delete</button>
            </div>
          </form>

          <p-dialog header="Validation Rule" appendTo="body" [(visible)]="displayDialog" showEffect="fade" [modal]="true">
            <form #formAddValidationRule="ngForm">
              <fieldset>
                <div class="card-body row" *ngIf="validationRule">
                  <div class="form-group col-md-3">
                    <label for="authRole">Provider</label>
                    <div class="">
                      <p-dropdown appendTo="body" name="provider" showClear="true" [style]="{'width':'200px'}" [(ngModel)]="selectedValidationRuleProvider"
                        [options]="validationRuleProviders | userToSelectItem" placeholder="Select a User" [filter]="true"
                        required>
                        <ng-template let-item pTemplate="selectedItem">{{item.FirstName+' '+item.LastName}}</ng-template>
                      </p-dropdown>

                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="authRole">Approver 1</label>
                    <div class="">
                      <p-dropdown appendTo="body" name="approver1" showClear="true" [style]="{'width':'200px'}" [(ngModel)]="selectedValidationRuleApprover1"
                        [options]="validationRuleApprover1 | userToSelectItem" placeholder="Select a User" [filter]="true"
                        required>
                        <ng-template let-item pTemplate="selectedItem">{{item.FirstName+' '+item.LastName}}</ng-template>
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="authRole">Approver 2</label>
                    <div class="">
                      <p-dropdown appendTo="body" name="approver2" showClear="true" [style]="{'width':'200px'}" [(ngModel)]="selectedValidationRuleApprover2"
                        [options]="validationRuleApprover2 | userToSelectItem" placeholder="Select a User" [filter]="true"
                        required>
                        <ng-template let-item pTemplate="selectedItem">{{item.FirstName+' '+item.LastName}}</ng-template>
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="authRole">Accountant</label>
                    <div class="">
                      <p-dropdown appendTo="body" name="accountant" showClear="true" [style]="{'width':'200px'}" [(ngModel)]="selectedValidationRuleAccountant"
                        [options]="validationRuleAccountants | userToSelectItem" placeholder="Select a User" [filter]="true"
                        required>
                        <ng-template let-item pTemplate="selectedItem">{{item.FirstName+' '+item.LastName}}</ng-template>
                      </p-dropdown>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
            <p-footer>
              <div class=" ">
                <button type="button" pButton icon="fa-close" (click)="this.displayDialog = false;" label="Cancel"></button>
                <button type="button" [disabled]="!formAddValidationRule.valid" pButton icon="fa-check" (click)="addValidationRule()" label="Save"></button>
              </div>
            </p-footer>
          </p-dialog>

          <p-organizationChart *ngIf="validationRule?.ValidationRuleUserRoles?.length || validationRule?.ValidationRuleUserRoles==null" [value]="validationRule?.ValidationRuleUserRoles | validationRuleToOrgChartArray" styleClass="validationrule">
            <ng-template let-node pTemplate="person">
              <div class="node-header ui-corner-top">{{node.label}}</div>
              <div class="node-content">
                  <img [src]="node.data.user |getUserAvatarSrc" width="48">
                <div>{{node.data.name}}</div>
              </div>
            </ng-template>

          </p-organizationChart>

          <!-- <p-dataTable *ngIf="validationRule?.ValidationRuleUserRoles?.length || validationRule?.ValidationRuleUserRoles==null" emptyMessage="No Validation Rule Set"
            [value]="validationRule?.ValidationRuleUserRoles">
            <p-column header="Role" field="Role.Name"></p-column>
            <p-column header="Assigned User">
              <ng-template let-rule="rowData" pTemplate="body">{{rule.User.FirstName+' '+rule.User.LastName}}</ng-template>
            </p-column>
          </p-dataTable> -->
        </div>
      </div>
    </div>
  </div>
</section>