<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">
              Validation Rules Management
            </h3>
          </div>
         
            <!-- selection criteria   -->
            <app-selection-criteria [selectionCriteria]="validationRule"></app-selection-criteria>
            <!-- selection criteria   -->
 
            <div class="card-footer">
              <button (click)="getValidationRuleUserRoles()" [disabled]="!validationRule.IsValid()" type="submit" class="btn btn-info">View</button>
              <button *ngIf="validationRule?.ValidationRuleUserRoles==null" (click)="showValidationRuleDialog()" type="submit" class="btn btn-success float-right">Add New</button>
              <button *ngIf="validationRule?.ValidationRuleUserRoles?.length" (click)="showValidationRuleDialog(true)" type="submit" class="btn btn-success float-right ml-1">Edit</button>
              <button *ngIf="validationRule?.ValidationRuleUserRoles?.length" (click)="deleteValidationRuleDialog()" type="submit" class="btn btn-danger float-right">Delete</button>
            </div>
           

          <p-dialog header="Validation Rule" appendTo="body" [(visible)]="displayAddValidationDialog" showEffect="fade" [modal]="true">
            <form #formAddValidationRule="ngForm">
              <fieldset>
                <div class="card-body row" *ngIf="validationRule">
                  <div class="form-group col-md-3">
                    <label for="authRole">Provider</label>
                    <div class="">
                      <p-dropdown appendTo="body" name="provider" showClear="true" [style]="{'width':'200px'}" [(ngModel)]="selectedValidationRuleProvider"
                        [options]="validationRuleProviders | userToSelectItem" placeholder="Select a User" [filter]="true"
                        required>
                        <ng-template let-item pTemplate="selectedItem">{{item.FirstName+' '+item.LastName}}</ng-template>
                      </p-dropdown>

                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="authRole">Approver 1</label>
                    <div class="">
                      <p-dropdown appendTo="body" name="approver1" showClear="true" [style]="{'width':'200px'}" [(ngModel)]="selectedValidationRuleApprover1"
                        [options]="validationRuleApprover1 | userToSelectItem" placeholder="Select a User" [filter]="true"
                        required>
                        <ng-template let-item pTemplate="selectedItem">{{item.FirstName+' '+item.LastName}}</ng-template>
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="authRole">Approver 2</label>
                    <div class="">
                      <p-dropdown appendTo="body" name="approver2" showClear="true" [style]="{'width':'200px'}" [(ngModel)]="selectedValidationRuleApprover2"
                        [options]="validationRuleApprover2 | userToSelectItem" placeholder="Select a User" [filter]="true"
                        required>
                        <ng-template let-item pTemplate="selectedItem">{{item.FirstName+' '+item.LastName}}</ng-template>
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="authRole">Accountant</label>
                    <div class="">
                      <p-dropdown appendTo="body" name="accountant" showClear="true" [style]="{'width':'200px'}" [(ngModel)]="selectedValidationRuleAccountant"
                        [options]="validationRuleAccountants | userToSelectItem" placeholder="Select a User" [filter]="true"
                        required>
                        <ng-template let-item pTemplate="selectedItem">{{item.FirstName+' '+item.LastName}}</ng-template>
                      </p-dropdown>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
            <p-footer>
              <div class=" ">
                <button type="button" pButton icon="fa-close" (click)="this.displayAddValidationDialog = false;" label="Cancel"></button>
                <button type="button" [disabled]="!formAddValidationRule.valid" pButton icon="fa-check" (click)="addValidationRule()" label="Save"></button>
              </div>
            </p-footer>
          </p-dialog>

          <p-organizationChart *ngIf="validationRule?.ValidationRuleUserRoles?.length || validationRule?.ValidationRuleUserRoles==null" [value]="validationRule?.ValidationRuleUserRoles | validationRuleToOrgChartArray" styleClass="validationrule">
            <ng-template let-node pTemplate="person">
              <div class="node-header ui-corner-top">{{node.label}}</div>
              <div class="node-content">
                  <img [src]="node.data.user |getUserAvatarSrc" width="48">
                <div>{{node.data.name}}</div>
              </div>
            </ng-template>

          </p-organizationChart>

          <!-- <p-dataTable *ngIf="validationRule?.ValidationRuleUserRoles?.length || validationRule?.ValidationRuleUserRoles==null" emptyMessage="No Validation Rule Set"
            [value]="validationRule?.ValidationRuleUserRoles">
            <p-column header="Role" field="Role.Name"></p-column>
            <p-column header="Assigned User">
              <ng-template let-rule="rowData" pTemplate="body">{{rule.User.FirstName+' '+rule.User.LastName}}</ng-template>
            </p-column>
          </p-dataTable> -->
        </div>
      </div>
    </div>
  </div>
</section>