/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty{
    border-color: red !important;
    /* box-shadow: 0 1px 0 0 red !important; */
}

.modal {
    z-index: 10000 !important;
    }

    .ui-node-toggler{
        display: none;
        }

        .ui-person {
            padding: 0 !important;
        }

        .user-panel img{
            width: 50px !important;
        }

       